.faq {
    padding: 85px 0px;
    @media(max-width:925px) {
        padding-top:calc(22px + (85 - 22) * ((100vw - 320px) / (950 - 320)));
        padding-bottom:calc(22px + (85 - 22) * ((100vw - 320px) / (950 - 320)));
    }
    &__subtitle {
        text-align: center;
    }
    &__title {
        text-align: center;
        margin-top: 20px;
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #3D4F9F;

    }
}

.accordion {
    margin-top: 68px;
    @media(max-width:925px) {
        margin-top:calc(0px + (68 - 0) * ((100vw - 320px) / (950 - 320)));
    }
    &__item {
        border-bottom: 1px solid #D8E3FE;
    }

    &__item-trigger {
        display: flex;
        align-items: center;
        padding-top: 31px;
        padding-bottom: 31px;
        @media(max-width:925px) {
            padding-top:calc(16px + (31 - 16) * ((100vw - 320px) / (950 - 320)));
            padding-bottom:calc(16px + (31 - 16) * ((100vw - 320px) / (950 - 320)));
        }
        position: relative;
        transition: all 0.7s linear;
        &-active .accordion__item-arrow {
            transform: translateY(-36%) rotate(-135deg);
            border-color:#495274;
        }
        &-active .accordion__item-title {
            color: #495274;
        }
    }

    &__item-arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 0;
        border: solid #495274;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 4px;
        transform: translateY(-72%) rotate(45deg);
    }
    
    &__item-title {
        cursor: pointer;
        margin-left: 24px;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #8E96B7;
        transition: all 0.3s linear;
    }

    &__item-content {
        display: flex;
        opacity: 0;
        justify-content: space-between;
        overflow: hidden;
        margin-bottom: 15px;
        flex-direction: column;
        @media (min-width:$sm) {
            align-items: center;
            margin-bottom: 0px;
            flex-direction: row;
        }
        transition: all 0.3s linear;
        &-active {
            opacity: 1;
        }
    }

    &__item-text {
        margin: 20px 20px 20px 0px;
        max-width: 622px;
        @media (min-width:$sm) {
            margin: 20px 20px 40px 0px;
        }
        @media(min-width: $lg) {
            margin: 20px 0px 40px 54px;
        }
    }

    &__item-btn {
        margin-right: auto;
        transition: all 0.3s linear;
        background-color: #E8ECF4;
        margin-bottom: 20px;
        @media (min-width:$sm) {
            margin-right: 15px;
            margin-bottom: 0px;
        }
        white-space: nowrap;
        color: #7382A3;
        &:hover {
            background-color: #c3cee2;
            color: #5a71a2;
        }
    }
}
