.productivity {

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__column {
        flex: 0 1 100%;
        text-align: center;
        @media (min-width:$sm) {
        flex: 0 1 50%;
        }
        &-left {
            background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
            
            @media (min-width:$sm) {
                padding-right: 40px;
                text-align: right;
            }
            @media (min-width:$md) {
                padding-right: 90px;
            } 
        }
        &-right {
            @media (min-width:$sm) {
                padding-left: 40px;
                text-align: left;
            }
            @media (min-width:$md) {
                padding-right: 90px;
            }
            background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
        }
    }

    &__item {
        margin: 32px 0px;
        @media (min-width:$md) {
        margin: 67px 0px;
        }
    }

    &__img {
        
    }
    
    &__percents {
        margin-top: 12px;
        font-size: 48px;
        font-family: "Quicksand";
        letter-spacing: 0.03em;
        @media (min-width:$lg) {
        margin-top: 24px;
        }
        &-left {
            color: #FFFFFF;
        }
        &-right {
            color: #5E80FF;
        }
    }

    &__price {
        margin-top: 12px;
        font-weight: 500;
        font-family: "Quicksand";
        font-size: 18px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin: 0 auto;
        max-width: 260px;
        @media (min-width:$sm) {
            margin: initial;
        }
        @media (min-width:$lg) {
            margin-top: 26px;
        }
        &-left {
            color: #fff;
            @media (min-width:$sm) {
                margin-left: auto;
            }
        }
        &-right {
            color: #5E80FF;
        }
    }
}
