.start {
    background-image: url("../img/start.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    padding: 91px 0px;
    @media (max-width:925px) {
        padding-top:calc(26px + (91 - 26) * ((100vw - 320px) / (950 - 320)));
        padding-bottom:calc(26px + (91 - 26) * ((100vw - 320px) / (950 - 320)));
    }
    text-align: center;
    color: #fff;
    &__subtitle {
        color: #fff;
        font-weight: 200;
    }
    
    &__title {
        margin-top: 16px;
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 300;
        @media (max-width:925px) {
            margin-top:calc(3px + (16 - 3) * ((100vw - 320px) / (950 - 320)));
        }
        font-size: 48px;
        & span {
            font-weight: 600;
        }
    }
    
    &__text {
        margin: 0 auto;
        max-width: 712px;
        margin-top: 28px;
        @media (max-width:925px) {
            margin-top:calc(10px + (28 - 10) * ((100vw - 320px) / (950 - 320)));
        }
        font-family: "Roboto";
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    &__btn {
        margin-top: 20px;
        font-family: "Quicksand";
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (min-width:$sm) {
            flex-direction: row;
        }
        @media (max-width:925px) {
            margin-top:calc(10px + (20 - 10) * ((100vw - 320px) / (950 - 320)));
        }
        &-white {
            background: #FFFFFF;
            box-shadow: 0px 5px 15px #6480E8;
            color: #565F82;
            font-weight: bold;
            border-radius: 2px;
            margin-top: 10px;
            margin-right: -1px;
            height: 44px;
            position: relative;
            transition: all 0.3s linear;
            &:hover {
                background: #dcdcdc;
                color: #565F82;
            }
        }
        &-gray {
            display: inline-block;
            margin-top: 10px;
            color: #C7D3FF;
            font-weight: 500;
            border: 1px solid #A0B4FF;
            border-radius: 2px;
            background-color: initial;
            transition: all 0.3s linear;
            &:hover {
                background-color: initial;
                color: #aebfff;
            }
        }
    }
}
.container {
}
.title {
}
