
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: #{$font_name};
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "fonts.scss";
*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
	font-family:"Quicksand";
	font-weight: 500;
}
html,body{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	font-size: 18px;
}
body {
	overflow-x: hidden;
}
html {
	scroll-behavior: smooth;
}
body._lock{
	overflow: hidden;
}
h1,h2,h3,h4,h5,h6,ul{
	margin: 0;
	padding:0;
}
a{
	text-decoration: none;
	color: inherit;
}
li{
	list-style: none;
}
input{
	border:none;
	outline: none;
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}
button{
	border:none;
	outline: none;
	background-color: none;
}
textarea{
	outline: none;
	border: none;
	
}
address{
	font-style: normal ;
}
.wrapper{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}
.swiper-wrapper {
	min-width: 0;
}
@import "variables.scss";
.btn {
	font-family: "Quicksand";
	font-weight: bold;
	font-size: 13px;
	color: #3A79FF;
	padding:13px 20px 13px 21px;
	background: #D2E1FF;
	border-radius: 2px;
	transition: all 0.3s linear;
	cursor: pointer;
	&:hover {
		color: #2e5fc9;
		background: #a3b9e9;
	}
}
.main {
	flex:  1 1 auto;
}
.title {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color:$blueSecond;
}
.text {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.03em;
	color:$blueThird;
	line-height: 29px;
}
.container {
	max-width: 925px;
	margin: 0 auto;
	padding: 0 15px;
}
@import "header.scss";
@import "swiper-bundle.min.scss";
@import "slider.scss";
@import "sponsors.scss";
@import "plan.scss";
@import "about.scss";
@import "productivity.scss";
@import "blog.scss";
@import "lightgallery-bundle.min.scss";
@import "testimonials.scss";
@import "faq.scss";
@import "start.scss";
@import "signup.scss";
@import "footer.scss";



